@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,600,700&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.custom-button {
  border-radius: 0 !important;
  border: solid 2px !important;
  font-weight: bold !important;
  background-color: transparent !important;
}